<div>
  <h1>Contátanos</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quisquam architecto dicta cupiditate libero? Optio accusamus dolorum enim consequatur? Sint nemo odio itaque error ratione illo doloribus cupiditate in natus.</p>
</div>
<div class="contact-container">
  <form class="contact-form" action="">
    <label for="">Email</label>
    <input class="form-input" type="email" >
    <label for="">Asunto</label>
    <input class="form-input" type="text" >
    <label for="">Mensaje</label>
    <textarea class="form-input" name="" id="" cols="30" rows="10"></textarea>
  </form>

</div>
